:root {
  --main-bg: #fbfbfb;
  --main-border-color: #BDBDBD;
  --main-border: 1px solid var(--main-border-color);
  --main-border-radius: 4px;
  --main-backdrop-bg: rgba(0, 0, 0, 0.5);
  --main-hover-filter: brightness(97%);
  --main-outline-color: var(--main-border-color);
}
